<ion-view view-title="Troca">
    <ion-content class="padding">
    
        <div class="list card">
            <div class="item item-avatar" ui-sref="app.perfil">
                <img src="img/avatar2.jpg">
                <h2>Grand Theaft Auto V</h2>
                <p>Você</p>
                <span class="badge badge-balanced">xone</span>
            </div>
            <div class="item item-text-wrap">
                Jogo sem o mapa.
            </div>
        </div>

        <div class="text-center ">
            <span class="icon ion-ios-shuffle-strong" style="font-size: 30px;"></span>
        </div>

        <div class="list card">
            <div class="item item-avatar" ui-sref="app.perfil">
                <img src="img/avatar.jpg">
                <h2>Forza 6</h2>
                <p>David Beckham</p>
                <span class="badge badge-balanced">xone</span>
            </div>
            <div class="item item-text-wrap">
                Usado pouco tempo, em ótimo estado.
            </div>
        </div>

        <div class="text-center">
            Apertando o botão abaixo você irá para um chat com David Beckham para combinar a troca do jogo.
        </div>

        <div class="row">
            <div class="col text-center">
                <button class="button button-positive">
                    Trocar jogo!
                </button>
            </div>
        </div>


    </ion-content>
</ion-view>
