<ion-view view-title="Resultado">
    <ion-content class="">

        <ion-list>
            <span ng-repeat="meuJogo in jogos">
                <ion-item class="item-divider">
                    <strong>Seu jogo</strong>: {{meuJogo.name}}
                    <span class="badge badge-balanced">xone</span>
                </ion-item>
                <div class="item" style="padding: 0px;" ng-repeat="game in meuJogo.jogosOfertados" ui-sref="app.perfil-troca">
                    <div class="row" style="">
                        <div class="col col-30" style="">
                            <img src="img/gta_v_cover.jpg" style="width: 100%!important;">
                        </div>
                        <div class="col">
                            <div class="row" style="padding: 0">
                                <div class="col" style="font-size: 18px; font-weight: bold;">{{game.name}}</div>
                                <div class="col col-30 text-center" style="">one</div>
                            </div>
                            <!-- <div style="font-size: 19px;"></div> -->
                            <div class="row" style="margin-top: 5px;">
                                <div class="col col-20">
                                    <img src="img/avatar.jpg" style="width: 100%; border-radius: 50%">
                                </div>
                                <div class="col" style="font-size: 14px; margin-top: 15px;">
                                    David Beckham
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </span>
        </ion-list>

    </ion-content>
</ion-view>
